

{% block content %}

  {% if form.errors %}
  <p class="errors">Corrija os erros abaixo: {{ form.non_field_errors }}</p>
  {% endif %}

  <h1>Cadastro de aluno na turma {{ userturma }}</h1>
<p>Solicitação feita no dia <strong>{{ now }}</strong> pelo endereço <strong>{{ ip }}</strong></p>
  <form method="post" action="" class="wide">
    {% csrf_token %}
	<input type="hidden" name="token" value="{{ token }}">
    <p>
      <label for="id_username">Usuário:</label>
      {% if form.username.errors %}
        <p class="errors">{{ form.username.errors.as_text }}</p>
      {% endif %}
      {{ form.username }}
    </p>
    <p>
      <label for="id_email">Endereço de email:</label>
      {% if form.email.errors %}
        <p class="errors">{{ form.email.errors.as_text }}</p>
      {% endif %}
      {{ form.email }}
    </p>
    <p>
      <label for="id_password1">Senha:</label>
      {% if form.password1.errors %}
        <p class="errors">{{ form.password1.errors.as_text }}</p>
      {% endif %}
      {{ form.password1 }}
    </p>
    <p>
      <label for="id_password2">Confirmação da senha:</label>
      {% if form.password2.errors %}
        <p class="errors">{{ form.password2.errors.as_text }}</p>
      {% endif %}
      {{ form.password2 }}
    </p>
    <p class="submit"><input type="submit" value="Registrar &rarr;"></p>
  </form>
{% endblock %}