{% extends "base.html" %}
{% block loginId %} {{ request.user.first_name }} {% endblock %}

{% block links %}
  {% ifequal request.user.get_profile.role "professor" %}
	  	<li class="nav-header">Turmas</li>
	{% for turma in turmas %}
		<li><a href="/{{ turma.pk }}/edit/">{{turma}}</a></li>
	{% endfor %}
  {% endifequal %}

  {% ifequal request.user.get_profile.role "aluno" %}
      <li class="nav-header">Notas e Faltas</li>
      <li><a href="/boletim/">Boletim on-line</a></li>
  {% endifequal %}

  {% ifequal request.user.get_profile.role "secretaria" %}
      <li class="nav-header">Turmas</li>
      {% for turma in turmas %}
        <li><a href="/{{ turma.pk }}/alunos/">{{turma}}</a></li>
      {% endfor %} 
      <li class="nav-header">Administrativa</li>
      	<li><a href="/turma/nova/">Cadastrar Turma</a></li>
      	<li><a href="/professor/novo/">Cadastrar Professor</a></li>
      	<li><a href="/professor/materia/">Atribuir Matéria ao Professor</a></li>
      	<li><a href="/aluno/novo/">Cadastrar Aluno</a></li>     
  {% endifequal %}  

{% endblock %}

{% block contents %}

{% if message %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Atenção!</strong>
  <br />{{ message }}
</div>
{% endif %}

<div class="row-fluid">
	<h1>Nova Turma</h1>
	<form id="sForm1" action="." method="POST" class="well">{% csrf_token %}
	<dl class="dl-horizontal">
		<h4>Dados para acesso ao sistema</h4>
	    {% for field in form %}
	        <dt>{{ field.errors }}
	        {{ field.label_tag }}</dt>
	        <dd>{{ field }}</dd>
	    {% endfor %}
	    	<dt></dt>
	    	<dd><input type="submit" value="Cadastrar" class="btn btn-primary" /></dd>
	</dl>

	</form>
</div>
          

{% endblock %}